@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
::marker{
  display: none;
}
header{
  display: flex;
  width: 100%;
  height: 50px;
  background:#353159;
  justify-content: center;
}
header h2{
  color: #fff;
  align-self: center;
  padding: 0 2rem;
}
header ul {
  display: flex ;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}
header ul li{
  padding: 0 1rem;
  list-style-type: none;
}
header ul li:last-child{
 padding-right: 2rem;
}
header ul li a{
  color: #fff;
  text-decoration: none;
}
.hero img{
  height: auto;
  max-width: 100%;
}
.footer{
  width: 100%;
  color: #fff;
  background: #353159;
  padding: 1rem;
  text-align: center;
  font-weight: 500;
  position: absolute;
  bottom: 0;
}
.card{
  display: flex;
  justify-content: center;
  margin: 1.5rem 0;
}
.card-info{
    text-align: center;
    padding: 20px;
    margin: 10px;
    width: 220px;
    box-shadow: 0 2px 6px 0 rgb(134 123 123 / 12%);
}
.card-info img{
  box-shadow:  0 2px 6px 0 rgb(0 0 0 / 12%), inset 0 -1px 0 0 #dadce0;
  border-radius: 50%;
}
.card-info a{
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .card{
    flex-direction: column;
    align-items: center;
  }
  .card-info{
    width: 300px;
    border-radius: 5px;
  }
  .footer{
    width: 100%;
    color: #fff;
    background: #353159;
    padding: 1rem;
    text-align: center;
    font-weight: 500;
    position: relative;
  }
}

@media screen and (max-width:500px) {
  /* Mobile styles */
  .card{
    flex-direction: column;
    align-items: center;
  }
  .card-info{
    width: 300px;
    border-radius: 5px;
  }
  .footer{
    width: 100%;
    color: #fff;
    background: #353159;
    padding: 1rem;
    text-align: center;
    font-weight: 500;
    position: relative;
  }
}
@media screen and (min-width:501px) and (max-width:999px) {
  /* Tablet styles */
  .card{
    flex-direction: column;
    align-items: center;
    flex-flow: row wrap;

  }
  .card-info{
    width: 300px;
    border-radius: 5px;
  }
  .footer{
    width: 100%;
    color: #fff;
    background: #353159;
    padding: 1rem;
    text-align: center;
    font-weight: 500;
    position: relative;
  }
}